In [159]:
import pandas as pd
import numpy as np
import cv2 as cv
import os
from scipy import stats
from PIL import Image
import matplotlib.pyplot as plt

In [160]:
os.getcwd()

'C:\\Users\\hp\\Videos\\Step1-fixedDistance_avg,std\\Folders\\2016-11-22-14-09-37-Joao_onlythermalthermal_image-txt'

Joao df for 100 files with four down scales and average for each row at each size

In [161]:
os.chdir(r"C:\Users\hp\Videos\Step1-fixedDistance_avg,std\Folders\2016-11-22-14-09-37-Joao_onlythermalthermal_image-txt")

In [162]:
joao_files = []  #Joao 

for idx,file in enumerate(os.listdir()):
    with open(file,encoding="utf8", errors='ignore')as f:
        text_file = np.loadtxt(f)
        
        cam_res1 = cv.resize(text_file, (191,144), interpolation = cv.INTER_NEAREST)
        cam_res1[cam_res1<32.0]=0
        cam_res1[cam_res1>37.0]=0
        #print(np.max(cam_res1), np.min(cam_res1[cam_res1 != 0 ]))
        
        
        cam_res2 = cv.resize(cam_res1, (95,72), interpolation = cv.INTER_NEAREST)
        cam_res3 = cv.resize(cam_res2, (32,24), interpolation = cv.INTER_NEAREST)
        #rint(np.max(cam_res3), np.min(cam_res3[cam_res3 != 0 ]))
        """"
        plt.imshow(text_file,cmap='jet')
        plt.show()
        plt.imshow(cam_res1,cmap='jet')
        plt.show()
        plt.imshow(cam_res2,cmap='jet')
        plt.show()
        plt.imshow(cam_res3,cmap='jet')
        plt.show()
        print()
        """
        
        joao_files.append({"file_name":file,
                              "AvgTemp(144,191)": np.average(cam_res1[cam_res1 != 0]),
                              "AvgTemp(72,95)": np.average(cam_res2[cam_res2 != 0]),
                              "AvgTemp(24,32)": np.average(cam_res3[cam_res3 != 0])})
        
    
    if idx == 99:
        break

In [163]:
df_joao = pd.DataFrame(joao_files, columns = ['file_name', "AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"])

In [164]:
pd.set_option('max_rows', 99)
df_joao

,file_name,"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"
0,thermal_20161122-14_09_37.471.txt,34.474038,34.458716,34.577966
1,thermal_20161122-14_09_37.646.txt,34.454828,34.454174,34.622807
2,thermal_20161122-14_09_37.718.txt,34.461408,34.456102,34.543333
3,thermal_20161122-14_09_37.756.txt,34.474037,34.477656,34.553333
4,thermal_20161122-14_09_37.791.txt,34.467482,34.465766,34.550820
...,...,...,...,...
95,thermal_20161122-14_09_41.166.txt,34.523156,34.538530,34.572881
96,thermal_20161122-14_09_41.201.txt,34.537173,34.535273,34.608197
97,thermal_20161122-14_09_41.236.txt,34.550584,34.539750,34.710345
98,thermal_20161122-14_09_41.276.txt,34.541973,34.515780,34.659322
99,thermal_20161122-14_09_41.315.txt,34.537595,34.538959,34.665517

In [165]:
df_joao

,file_name,"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"
0,thermal_20161122-14_09_37.471.txt,34.474038,34.458716,34.577966
1,thermal_20161122-14_09_37.646.txt,34.454828,34.454174,34.622807
2,thermal_20161122-14_09_37.718.txt,34.461408,34.456102,34.543333
3,thermal_20161122-14_09_37.756.txt,34.474037,34.477656,34.553333
4,thermal_20161122-14_09_37.791.txt,34.467482,34.465766,34.550820
...,...,...,...,...
95,thermal_20161122-14_09_41.166.txt,34.523156,34.538530,34.572881
96,thermal_20161122-14_09_41.201.txt,34.537173,34.535273,34.608197
97,thermal_20161122-14_09_41.236.txt,34.550584,34.539750,34.710345
98,thermal_20161122-14_09_41.276.txt,34.541973,34.515780,34.659322
99,thermal_20161122-14_09_41.315.txt,34.537595,34.538959,34.665517

In [166]:
df_joao.dfi.export('df.png', max_rows = -1)
df_joao.export_png('df_styled.png')

AttributeError: 'DataFrame' object has no attribute 'export_png'

In [ ]:
df_joao

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df_joao)

In [ ]:
listOfStds = ['std(144,191)', 'std(72,95)', 'std(24,32)']

In [ ]:
folder_avg_joao = []
joao_std = []
for idx,i in enumerate(df_joao.columns.values[1:]):
    folder_avg_joao.append({i : np.average(df_joao[i])})    
    joao_std.append({listOfStds[idx]: np.std(df_joao[i])})

In [ ]:
joao_std

In [ ]:
folder_avg_joao

## Claudio df for 100 files with four down scales and average for each row at each size

In [ ]:
os.chdir(r"C:\Users\hp\Videos\Step1-fixedDistance_avg,std\Folders\2016-11-22-14-23-08-Claudio_onlythermalthermal_image-txt")

In [ ]:
claudio_files = []  #claudio 

for idx,file in enumerate(os.listdir()):
    with open(file)as f:
        text_file = np.loadtxt(f)
        
        cam_res1 = cv.resize(text_file, (191,144), interpolation = cv.INTER_NEAREST)
        cam_res1[cam_res1<32.0]=0
        cam_res1[cam_res1>37.0]=0
        #print(np.max(cam_res1), np.min(cam_res1[cam_res1 != 0 ]))
        
        
        cam_res2 = cv.resize(cam_res1, (95,72), interpolation = cv.INTER_NEAREST)
        cam_res3 = cv.resize(cam_res2, (32,24), interpolation = cv.INTER_NEAREST)
        #rint(np.max(cam_res3), np.min(cam_res3[cam_res3 != 0 ]))
        """"
        plt.imshow(text_file,cmap='jet')
        plt.show()
        plt.imshow(cam_res1,cmap='jet')
        plt.show()
        plt.imshow(cam_res2,cmap='jet')
        plt.show()
        plt.imshow(cam_res3,cmap='jet')
        plt.show()
        print()
        """
        
        claudio_files.append({"file_name":file,
                              "AvgTemp(144,191)": np.average(cam_res1[cam_res1 != 0]),
                              "AvgTemp(72,95)": np.average(cam_res2[cam_res2 != 0]),
                              "AvgTemp(24,32)": np.average(cam_res3[cam_res3 != 0])})
    if idx == 99:
        break

In [167]:
df_claudio = pd.DataFrame(claudio_files, columns = ['file_name',"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"])

In [168]:
df_claudio

,file_name,"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"
0,thermal_20161122-14_23_09.024.txt,34.493566,34.535800,34.631481
1,thermal_20161122-14_23_09.097.txt,34.514158,34.534911,34.637037
2,thermal_20161122-14_23_09.135.txt,34.457150,34.476248,34.583019
3,thermal_20161122-14_23_09.172.txt,34.468098,34.487475,34.521818
4,thermal_20161122-14_23_09.210.txt,34.517483,34.527183,34.624074
...,...,...,...,...
96,thermal_20161122-14_23_12.620.txt,34.511578,34.498684,34.654386
97,thermal_20161122-14_23_12.656.txt,34.511578,34.498684,34.654386
98,thermal_20161122-14_23_12.692.txt,34.511578,34.498684,34.654386
99,thermal_20161122-14_23_12.729.txt,34.511578,34.498684,34.654386
100,thermal_20161122-14_23_12.767.txt,34.511578,34.498684,34.654386

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df_claudio)

In [ ]:
listOfStds

In [ ]:
folder_avg_claudio = []
claudio_std = []
for idx,i in enumerate(df_claudio.columns.values[1:]):
    folder_avg_claudio.append({i : np.average(df_claudio[i])})
    claudio_std.append({listOfStds[idx]: np.std(df_claudio[i])})

In [ ]:
folder_avg_claudio

In [ ]:
claudio_std

### Anestis df for 100 files with four down scales and average for each row at each size

In [170]:
os.chdir(r"C:\Users\hp\Videos\Step1-fixedDistance_avg,std\Folders\2016-11-22-14-13-46-anestis_onlythermalthermal_image-txt")

In [171]:
anestis_files = []  #claudio 

for idx,file in enumerate(os.listdir()):
    with open(file)as f:
        text_file = np.loadtxt(f)
        
        cam_res1 = cv.resize(text_file, (191,144), interpolation = cv.INTER_NEAREST)
        cam_res1[cam_res1<32.0]=0
        cam_res1[cam_res1>37.0]=0
        #print(np.max(cam_res1), np.min(cam_res1[cam_res1 != 0 ]))
        
        
        cam_res2 = cv.resize(cam_res1, (95,72), interpolation = cv.INTER_NEAREST)
        cam_res3 = cv.resize(cam_res2, (32,24), interpolation = cv.INTER_NEAREST)
        #rint(np.max(cam_res3), np.min(cam_res3[cam_res3 != 0 ]))
        """"
        plt.imshow(text_file,cmap='jet')
        plt.show()
        plt.imshow(cam_res1,cmap='jet')
        plt.show()
        plt.imshow(cam_res2,cmap='jet')
        plt.show()
        plt.imshow(cam_res3,cmap='jet')
        plt.show()
        print()
        """
        
        
        anestis_files.append({"file_name":file,
                              "AvgTemp(144,191)": np.average(cam_res1[cam_res1 != 0]),
                              "AvgTemp(72,95)": np.average(cam_res2[cam_res2 != 0]),
                              "AvgTemp(24,32)": np.average(cam_res3[cam_res3 != 0])})
    if idx == 99:
        break

In [172]:
df_anestis = pd.DataFrame(anestis_files, columns = ['file_name',"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"])

In [173]:
df_anestis

,file_name,"AvgTemp(144,191)","AvgTemp(72,95)","AvgTemp(24,32)"
0,thermal_20161122-14_13_46.750.txt,34.362176,34.401961,34.595062
1,thermal_20161122-14_13_46.785.txt,34.345606,34.383567,34.489024
2,thermal_20161122-14_13_46.824.txt,34.342957,34.358650,34.517284
3,thermal_20161122-14_13_46.860.txt,34.358059,34.401266,34.545679
4,thermal_20161122-14_13_46.896.txt,34.353717,34.388511,34.535000
...,...,...,...,...
95,thermal_20161122-14_13_50.572.txt,34.320829,34.353314,34.334177
96,thermal_20161122-14_13_50.608.txt,34.323435,34.353247,34.327848
97,thermal_20161122-14_13_50.647.txt,34.326230,34.376890,34.307595
98,thermal_20161122-14_13_50.722.txt,34.317014,34.338516,34.262500
99,thermal_20161122-14_13_50.757.txt,34.321256,34.335971,34.332000

In [174]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df_anestis)

                            file_name  AvgTemp(144,191)  AvgTemp(72,95)  \
0   thermal_20161122-14_13_46.750.txt  34.362176         34.401961
1   thermal_20161122-14_13_46.785.txt  34.345606         34.383567
2   thermal_20161122-14_13_46.824.txt  34.342957         34.358650
3   thermal_20161122-14_13_46.860.txt  34.358059         34.401266
4   thermal_20161122-14_13_46.896.txt  34.353717         34.388511
5   thermal_20161122-14_13_46.933.txt  34.358180         34.375983
6   thermal_20161122-14_13_46.973.txt  34.359758         34.372462
7   thermal_20161122-14_13_47.008.txt  34.339687         34.360894
8   thermal_20161122-14_13_47.044.txt  34.356654         34.367270
9   thermal_20161122-14_13_47.084.txt  34.350605         34.360000
10  thermal_20161122-14_13_47.121.txt  34.364172         34.383939
11  thermal_20161122-14_13_47.155.txt  34.338483         34.341690
12  thermal_20161122-14_13_47.191.txt  34.335319         34.339014
13  thermal_20161122-14_13_47.239.txt  34.343958         34.365439
14  thermal_20161122-14_13_47.272.txt  34.333776         34.337902
15  thermal_20161122-14_13_47.306.txt  34.337600         34.341480
16  thermal_20161122-14_13_47.346.txt  34.324251         34.328873
17  thermal_20161122-14_13_47.379.txt  34.337513         34.341737
18  thermal_20161122-14_13_47.420.txt  34.363909         34.377279
19  thermal_20161122-14_13_47.452.txt  34.352256         34.354533
20  thermal_20161122-14_13_47.493.txt  34.350873         34.357223
21  thermal_20161122-14_13_47.532.txt  34.347012         34.346429
22  thermal_20161122-14_13_47.563.txt  34.342607         34.346154
23  thermal_20161122-14_13_47.606.txt  34.348525         34.346835
24  thermal_20161122-14_13_47.639.txt  34.361034         34.367778
25  thermal_20161122-14_13_47.675.txt  34.364606         34.374131
26  thermal_20161122-14_13_47.712.txt  34.373576         34.377115
27  thermal_20161122-14_13_47.752.txt  34.368635         34.367688
28  thermal_20161122-14_13_47.788.txt  34.354485         34.374581
29  thermal_20161122-14_13_47.825.txt  34.345822         34.350975
30  thermal_20161122-14_13_47.865.txt  34.363523         34.373464
31  thermal_20161122-14_13_47.903.txt  34.351471         34.357843
32  thermal_20161122-14_13_47.971.txt  34.352511         34.365546
33  thermal_20161122-14_13_48.012.txt  34.355690         34.343593
34  thermal_20161122-14_13_48.087.txt  34.343963         34.349226
35  thermal_20161122-14_13_48.122.txt  34.343506         34.337482
36  thermal_20161122-14_13_48.162.txt  34.331015         34.333853
37  thermal_20161122-14_13_48.196.txt  34.339313         34.361932
38  thermal_20161122-14_13_48.231.txt  34.369172         34.386017
39  thermal_20161122-14_13_48.271.txt  34.346821         34.376090
40  thermal_20161122-14_13_48.312.txt  34.347191         34.361851
41  thermal_20161122-14_13_48.346.txt  34.345372         34.354635
42  thermal_20161122-14_13_48.379.txt  34.342397         34.368324
43  thermal_20161122-14_13_48.425.txt  34.347423         34.367606
44  thermal_20161122-14_13_48.497.txt  34.365926         34.382303
45  thermal_20161122-14_13_48.531.txt  34.365847         34.367922
46  thermal_20161122-14_13_48.570.txt  34.359151         34.366760
47  thermal_20161122-14_13_48.606.txt  34.365940         34.404348
48  thermal_20161122-14_13_48.639.txt  34.359675         34.363916
49  thermal_20161122-14_13_48.680.txt  34.345803         34.366432
50  thermal_20161122-14_13_48.724.txt  34.348753         34.370687
51  thermal_20161122-14_13_48.755.txt  34.347281         34.359327
52  thermal_20161122-14_13_48.794.txt  34.360722         34.364755
53  thermal_20161122-14_13_48.864.txt  34.367320         34.364485
54  thermal_20161122-14_13_48.904.txt  34.355436         34.360420
55  thermal_20161122-14_13_48.942.txt  34.362045         34.393069
56  thermal_20161122-14_13_48.975.txt  34.348906         34.369902
57  thermal_20161122-14_13_49.012.txt  34.336886         34.340393
58  thermal_20161122-14_13_49.050.txt  34.376048         34.402101
59  thermal_20161122-14_13_49.090.txt  34.365276         34.382535
60  thermal_20161122-14_13_49.159.txt  34.371913         34.365417
61  thermal_20161122-14_13_49.202.txt  34.372885         34.374790
62  thermal_20161122-14_13_49.236.txt  34.368951         34.371910
63  thermal_20161122-14_13_49.271.txt  34.370596         34.373853
64  thermal_20161122-14_13_49.311.txt  34.367374         34.369620
65  thermal_20161122-14_13_49.349.txt  34.369399         34.381601
66  thermal_20161122-14_13_49.386.txt  34.358193         34.360845
67  thermal_20161122-14_13_49.423.txt  34.368537         34.362973
68  thermal_20161122-14_13_49.459.txt  34.355679         34.355882
69  thermal_20161122-14_13_49.496.txt  34.355462         34.351685
70  thermal_20161122-14_13_49.534.txt  34.368977         34.361560
71  thermal_20161122-14_13_49.569.txt  34.385779         34.388456
72  thermal_20161122-14_13_49.614.txt  34.362879         34.359637
73  thermal_20161122-14_13_49.682.txt  34.369523         34.354798
74  thermal_20161122-14_13_49.722.txt  34.374765         34.381058
75  thermal_20161122-14_13_49.757.txt  34.364626         34.362219
76  thermal_20161122-14_13_49.792.txt  34.340127         34.333333
77  thermal_20161122-14_13_49.831.txt  34.326730         34.313184
78  thermal_20161122-14_13_49.868.txt  34.323625         34.320733
79  thermal_20161122-14_13_49.904.txt  34.340275         34.320451
80  thermal_20161122-14_13_49.941.txt  34.338373         34.321800
81  thermal_20161122-14_13_49.979.txt  34.332133         34.318847
82  thermal_20161122-14_13_50.051.txt  34.330476         34.331294
83  thermal_20161122-14_13_50.088.txt  34.330666         34.339716
84  thermal_20161122-14_13_50.129.txt  34.320894         34.347701
85  thermal_20161122-14_13_50.204.txt  34.347569         34.383095
86  thermal_20161122-14_13_50.237.txt  34.323239         34.349288
87  thermal_20161122-14_13_50.276.txt  34.352760         34.388936
88  thermal_20161122-14_13_50.312.txt  34.352067         34.388920
89  thermal_20161122-14_13_50.347.txt  34.350386         34.381883
90  thermal_20161122-14_13_50.389.txt  34.344031         34.397674
91  thermal_20161122-14_13_50.431.txt  34.348982         34.390000
92  thermal_20161122-14_13_50.460.txt  34.355934         34.390754
93  thermal_20161122-14_13_50.497.txt  34.326648         34.363467
94  thermal_20161122-14_13_50.541.txt  34.316855         34.351580
95  thermal_20161122-14_13_50.572.txt  34.320829         34.353314
96  thermal_20161122-14_13_50.608.txt  34.323435         34.353247
97  thermal_20161122-14_13_50.647.txt  34.326230         34.376890
98  thermal_20161122-14_13_50.722.txt  34.317014         34.338516
99  thermal_20161122-14_13_50.757.txt  34.321256         34.335971

    AvgTemp(24,32)
0   34.595062
1   34.489024
2   34.517284
3   34.545679
4   34.535000
5   34.586076
6   34.537975
7   34.584416
8   34.611538
9   34.565385
10  34.624675
11  34.614474
12  34.598611
13  34.583784
14  34.607895
15  34.653425
16  34.612329
17  34.546667
18  34.540541
19  34.582432
20  34.556164
21  34.602632
22  34.563014
23  34.550667
24  34.602703
25  34.600000
26  34.637333
27  34.602703
28  34.608000
29  34.590667
30  34.573333
31  34.552000
32  34.530380
33  34.524675
34  34.491139
35  34.481250
36  34.531646
37  34.520000
38  34.534177
39  34.582500
40  34.491250
41  34.517500
42  34.508750
43  34.512346
44  34.544304
45  34.539506
46  34.507407
47  34.553750
48  34.523457
49  34.498734
50  34.516456
51  34.491250
52  34.511538
53  34.536364
54  34.528205
55  34.574684
56  34.522785
57  34.505063
58  34.584810
59  34.545570
60  34.496296
61  34.556962
62  34.480769
63  34.553750
64  34.589744
65  34.574359
66  34.532468
67  34.551282
68  34.521519
69  34.524051
70  34.476623
71  34.545455
72  34.513924
73  34.533766
74  34.548718
75  34.502597
76  34.471795
77  34.433333
78  34.390000
79  34.376250
80  34.378750
81  34.386250
82  34.406410
83  34.385000
84  34.419231
85  34.482051
86  34.380000
87  34.446835
88  34.395000
89  34.380000
90  34.403797
91  34.385000
92  34.413924
93  34.389744
94  34.343038
95  34.334177
96  34.327848
97  34.307595
98  34.262500
99  34.332000

In [175]:
anestis_avg_values = []

In [176]:
folder_avg_anestis = []
anestis_std = []
for idx,i in enumerate(df_anestis.columns.values[1:]):
    folder_avg_anestis.append({i : np.average(df_anestis[i])})
    anestis_std.append({listOfStds[idx]: np.std(df_anestis[i])})

In [177]:
anestis_std

[{'std(144,191)': 0.015419612529255826},
 {'std(72,95)': 0.020030440028060644},
 {'std(24,32)': 0.0826130079801894}]

### Average per row for three folders at four different scales

In [178]:
pd.DataFrame({"Name": ['claudio','Joao','Anestis'],
             'AvgTemp(144,191)':[34.49785087067999,34.50989892068498,34.35012920387215]\
            , 'AvgTemp(72,95)':[34.500394847807605,34.50884268714953,34.3626544902959]\
            , 'AvgTemp(24,32)':[34.55686197967155,34.59467334822509,34.509298278088856]})

      Name  AvgTemp(144,191)  AvgTemp(72,95)  AvgTemp(24,32)
0  claudio  34.497851         34.500395       34.556862
1  Joao     34.509899         34.508843       34.594673
2  Anestis  34.350129         34.362654       34.509298

In [180]:
test = pd.DataFrame({"Name": ['claudio','Joao','Anestis'],
             'AvgTemp(144,191)':[34.49785087067999,34.50989892068498,34.35012920387215]\
            , 'AvgTemp(72,95)':[34.500394847807605,34.50884268714953,34.3626544902959]\
            , 'AvgTemp(24,32)':[34.55686197967155,34.59467334822509,34.509298278088856]})
test

      Name  AvgTemp(144,191)  AvgTemp(72,95)  AvgTemp(24,32)
0  claudio  34.497851         34.500395       34.556862
1  Joao     34.509899         34.508843       34.594673
2  Anestis  34.350129         34.362654       34.509298

In [191]:
test['std'] = np.std(test[['AvgTemp(144,191)','AvgTemp(72,95)','AvgTemp(24,32)']],axis=1)

In [192]:
test

      Name  AvgTemp(144,191)  AvgTemp(72,95)  AvgTemp(24,32)       std
0  claudio  34.497851         34.500395       34.556862       0.027238
1  Joao     34.509899         34.508843       34.594673       0.040214
2  Anestis  34.350129         34.362654       34.509298       0.072262

In [196]:
np.std([34.497851, 34.500395, 34.556862])

0.027238233231171336

### Standard deviation for three folders at four different scales

In [179]:
pd.DataFrame({"Name":
              ['claudio','Joao','Anestis']
            , 'std(144,191)':[0.01886000410442223, 0.018540647118231956,0.015371547305321627]\
            , 'std(72,95)':[0.028265353490643932, 0.024646379041047137, 0.019958006175345336 ]\
            , 'std(24,32)':[0.08999542765363515, 0.06283265046011105, 0.08263072582103158]})

      Name  std(144,191)  std(72,95)  std(24,32)
0  claudio  0.018860      0.028265    0.089995
1  Joao     0.018541      0.024646    0.062833
2  Anestis  0.015372      0.019958    0.082631